
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #001f3f, #00122e);
    min-height: 100vh;

}


.cabecario {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: clamp(35px, 25vh, 90px);
}

.cabecario img{
    width: clamp(20px, 25vw, 200px);
}



#img_logo img{
    width: clamp(40px, 45vw, 350px);
}

.forms{
    display: flex;
    flex-direction: column;
}







/*--------------------Input e button------------------- */
input[type="text"] {
    width: 300px;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 140, 255, 0.3);
    text-align: center;
}


.botao-enviar {
    background-color: #008cff;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botao-enviar:hover {
    background-color: #0075cc;
    transform: scale(1.05);
}

.botao-enviar:active {
    transform: scale(1);
}
