
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(10deg, #001f3f, #00122e);
    min-height: 100vh;

}


.cabecario {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: clamp(35px, 25vh, 90px);
}

.cabecario img{
    width: clamp(60px, 45vw, 200px);
}



#img_logo img{
    width: clamp(100px, 65vw, 380px);
}
#img_logo{
    position: relative;
    margin-top: clamp(25px, 15vh, 110px);
    margin-bottom: clamp(25px, 15vh, 110px);
    left: clamp(7px, 1.8vh, 18px);
    
}

.forms{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    left: clamp(7px, 1.8vh, 18px);
}







/*--------------------Input e button------------------- */
input[type="text"] {
    width: 300px;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 140, 255, 0.3);
    text-align: center;
}


.botao-enviar {
    background-color: #008cff;
    color: white;
    font-size: clamp(6px, 1rem, 32px);
    font-weight: 600;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
    margin-top: clamp(5px, 25vh, 10px);
    width: clamp(25px, 25vw, 250px);
    cursor: pointer;
    transition: 0.3s ease;
}

.botao-enviar:hover {
    background-color: #0075cc;
    transform: scale(1.05);
}

.botao-enviar:active {
    transform: scale(1);
}
