
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  background: linear-gradient(180deg, #0a1440 0%, #1c2a5e 100%); 
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  color: white;
  padding: 0;
  margin: 0;
}
/*--------------------------Cabeçario------------------------------*/
header {
  width: 100%;
  background: linear-gradient(270deg, #05407a, #2e63a3, #2f5592, #2e63a3, #003973);
  text-align: center;
  height: clamp(55px, 7.2vh, 100px);
  background-size: 500% 500%;
  animation: animarGradiente 10s ease infinite;
}

.logo img{
  display: flex;
  justify-self: center;
  width: clamp(5px, 7.6vw, 195px);
  height: clamp(5px, 5.5vw, 195px);
}

.logo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes animarGradiente {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/*-------------------------------------------------------------------*/

.results-box {
  background: linear-gradient(160deg, #274690, #1c2a5e);
  border-radius: 16px;
  box-shadow: 0 0 24px rgba(39, 70, 144, 0.6);
  margin-top: clamp(15px, 8vh,175px);
  height: clamp(15px, 75vh, 730px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
  
.container {
  display: flex;
  flex-direction: column;
  width: clamp(70px, 30vw, 500px);
  justify-self: center;
}
  
h1 {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 1rem;
}
  

  
.results-box::-webkit-scrollbar {
  width: 8px
}
  
.results-box::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}
  
.result-item {
  background-color: #688bbd;
  color: black;
  font-weight: bold;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}
  
